// 
// PARTNERS SECTION
// 



.partners_section {}

.partners_list {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	@include row;
}

.partner {
	@include span-columns(1 of 5);
	display: inline-block;

}

.partner_img {
	display: inline-block;
	width: 100%;
	height: 125px;
	line-height: 125px;

	img {
		display: inline-block;
		vertical-align: middle;
	}
}