%section.support_us
	.container
		%p.lead
			Подобається книга? Допоможіть людям дізнатися про&nbsp;неї, поділившись&nbsp;новиною:  
		
		.likely.likely-big.likely--custom
			.twitter{"data-via" => "info_edera"} Твітнути
			.facebook Шернути
			.gplus Плюсанути
			.vkontakte Поділитись
			.odnoklassniki Класнути