- @title = 'Біологія: Рослини, гриби та лишайники'

%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/biol.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Біологія: Рослини, гриби та лишайники
				%p
					Ця книга присвячена першому кроку на шляху до вивчення всього живого. Перед вами розкриються всі таємниці та тонкощі чарівного світу рослин. Приєднуйтеся!

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 95
					.td 35
					.td 80
					.td 15%

			.actions
				%a.button.button--big{:href => "//biology.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "vstup.html"}
				%a{:href => "http://biology.ed-era.com/vstup.html"}
					
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "1/predmet_vivchennya_biologi_osnovni_oznaki_zhivo_materi_oznachennya.html"}
				%a{:href => "http://biology.ed-era.com/1/predmet_vivchennya_biologi_osnovni_oznaki_zhivo_materi_oznachennya.html"}
					
					%b 2.
					Вступ до бiологiї та ботанiки
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "1/predmet_vivchennya_biologi_osnovni_oznaki_zhivo_materi_oznachennya.html"}
						%a{:href => "http://biology.ed-era.com/1/predmet_vivchennya_biologi_osnovni_oznaki_zhivo_materi_oznachennya.html"}
							
							%b 2.1.
							Предмет вивчення бiологiї. Основнi ознаки живої матерiї
					%li.chapter{"data-level" => "2.2", "data-path" => "1/tsarstva_zhivogo.html"}
						%a{:href => "http://biology.ed-era.com/1/tsarstva_zhivogo.html"}
							
							%b 2.2.
							Царства живого
					%li.chapter{"data-level" => "2.3", "data-path" => "1/biologichni_nauki.html"}
						%a{:href => "http://biology.ed-era.com/1/biologichni_nauki.html"}
							
							%b 2.3.
							Бiологiчнi науки
					%li.chapter{"data-level" => "2.4", "data-path" => "1/predmet_vivchennya_botaniki_harakteristika_tsarstva_roslini.html"}
						%a{:href => "http://biology.ed-era.com/1/predmet_vivchennya_botaniki_harakteristika_tsarstva_roslini.html"}
							
							%b 2.4.
							Предмет вивчення ботанiки. Характеристика царства Рослини
			%li.chapter{"data-level" => "3", "data-path" => "2/roslinna_klitina.html"}
				%a{:href => "http://biology.ed-era.com/2/roslinna_klitina.html"}
					
					%b 3.
					Клiтина та тканини рослин
				%ul.articles
					%li.chapter{"data-level" => "3.1", "data-path" => "2/roslinna_klitina.html"}
						%a{:href => "http://biology.ed-era.com/2/roslinna_klitina.html"}
							
							%b 3.1.
							Рослинна клiтина
					%li.chapter{"data-level" => "3.2", "data-path" => "2/roslinni_tkanini.html"}
						%a{:href => "http://biology.ed-era.com/2/roslinni_tkanini.html"}
							
							%b 3.2.
							Рослиннi тканини
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Вегетативнi органи рослин
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Органи рослин
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Корiнь
						%ul.articles
							%li.chapter{"data-level" => "4.2.1"}
								%span
									%b 4.2.1.
									Кореневi системи
							%li.chapter{"data-level" => "4.2.2"}
								%span
									%b 4.2.2.
									Зони кореня
							%li.chapter{"data-level" => "4.2.3"}
								%span
									%b 4.2.3.
									Внутрiшня будова кореня у всиснiй зонi
							%li.chapter{"data-level" => "4.2.4"}
								%span
									%b 4.2.4.
									Видозмiни кореня
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Добрива
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Пагiн: загальна характеристика
						%ul.articles
							%li.chapter{"data-level" => "4.4.1"}
								%span
									%b 4.4.1.
									Рiст пагона
							%li.chapter{"data-level" => "4.4.2"}
								%span
									%b 4.4.2.
									Галуження пагона
					%li.chapter{"data-level" => "4.5"}
						%span
							%b 4.5.
							Пагiн: брунька
						%ul.articles
							%li.chapter{"data-level" => "4.5.1"}
								%span
									%b 4.5.1.
									Розвиток пагона з бруньки
					%li.chapter{"data-level" => "4.6"}
						%span
							%b 4.6.
							Пагiн: стебло
						%ul.articles
							%li.chapter{"data-level" => "4.6.1"}
								%span
									%b 4.6.1.
									Транспорт речовин
					%li.chapter{"data-level" => "4.7"}
						%span
							%b 4.7.
							Видозмiни
						%ul.articles
							%li.chapter{"data-level" => "4.7.1"}
								%span
									%b 4.7.1.
									Надземнi видозмiни
							%li.chapter{"data-level" => "4.7.2"}
								%span
									%b 4.7.2.
									Пiдземнi видозмiни
					%li.chapter{"data-level" => "4.8"}
						%span
							%b 4.8.
							Пагiн: листок
						%ul.articles
							%li.chapter{"data-level" => "4.8.1"}
								%span
									%b 4.8.1.
									Зовнiшня будова листка
							%li.chapter{"data-level" => "4.8.2"}
								%span
									%b 4.8.2.
									Класифiкацiя листкiв
							%li.chapter{"data-level" => "4.8.3"}
								%span
									%b 4.8.3.
									Жилкування
							%li.chapter{"data-level" => "4.8.4"}
								%span
									%b 4.8.4.
									Листкорозмiщення
							%li.chapter{"data-level" => "4.8.5"}
								%span
									%b 4.8.5.
									Внутрiшня будова листка
							%li.chapter{"data-level" => "4.8.6"}
								%span
									%b 4.8.6.
									Явище листопаду
							%li.chapter{"data-level" => "4.8.7"}
								%span
									%b 4.8.7.
									Видозмiни листка
					%li.chapter{"data-level" => "4.9"}
						%span
							%b 4.9.
							Процеси життєдiяльностi рослин
						%ul.articles
							%li.chapter{"data-level" => "4.9.1"}
								%span
									%b 4.9.1.
									Транспiрацiя
							%li.chapter{"data-level" => "4.9.2"}
								%span
									%b 4.9.2.
									Саморегуляцiя
					%li.chapter{"data-level" => "4.10"}
						%span
							%b 4.10.
							Рухи рослин (повторення)
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Репродуктивнi органи рослин
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Квітка
						%ul.articles
							%li.chapter{"data-level" => "5.1.1"}
								%span
									%b 5.1.1.
									Зовнішня будова квітки
							%li.chapter{"data-level" => "5.1.2"}
								%span
									%b 5.1.2.
									Класифікація квіток
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Суцвіття
						%ul.articles
							%li.chapter{"data-level" => "5.2.1"}
								%span
									%b 5.2.1.
									Прості суцвіття
							%li.chapter{"data-level" => "5.2.2"}
								%span
									%b 5.2.2.
									Складні суцвіття
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Запилення та запліднення
						%ul.articles
							%li.chapter{"data-level" => "5.3.1"}
								%span
									%b 5.3.1.
									Будова тичинки та пилкового зерна
							%li.chapter{"data-level" => "5.3.2"}
								%span
									%b 5.3.2.
									Будова маточки та насінного зачатка
							%li.chapter{"data-level" => "5.3.3"}
								%span
									%b 5.3.3.
									Механізм подвійного запліднення
					%li.chapter{"data-level" => "5.4"}
						%span
							%b 5.4.
							Насінина
					%li.chapter{"data-level" => "5.5"}
						%span
							%b 5.5.
							Плід
						%ul.articles
							%li.chapter{"data-level" => "5.5.1"}
								%span
									%b 5.5.1.
									Соковиті плоди
							%li.chapter{"data-level" => "5.5.2"}
								%span
									%b 5.5.2.
									Сухі плоди
							%li.chapter{"data-level" => "5.5.3"}
								%span
									%b 5.5.3.
									Способи поширення плодів і насіння
					%li.chapter{"data-level" => "5.6"}
						%span
							%b 5.6.
							Вегетативне розмноження
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Різноманітність рослин. Водорості(нижчі) та вищі сопорові рослини
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Систематика рослин
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Водорості
						%ul.articles
							%li.chapter{"data-level" => "6.2.1"}
								%span
									%b 6.2.1.
									Зелені водорості
							%li.chapter{"data-level" => "6.2.2"}
								%span
									%b 6.2.2.
									Діатомові водорості
							%li.chapter{"data-level" => "6.2.3"}
								%span
									%b 6.2.3.
									Бурі водорості
							%li.chapter{"data-level" => "6.2.4"}
								%span
									%b 6.2.4.
									Червоні водорості (Багрянки)
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							"Вихід" рослин на суходіл
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Вищі спорові рослини
						%ul.articles
							%li.chapter{"data-level" => "6.4.1"}
								%span
									%b 6.4.1.
									Відділ Мохоподібні
							%li.chapter{"data-level" => "6.4.2"}
								%span
									%b 6.4.2.
									Відділ Плауноподібні
							%li.chapter{"data-level" => "6.4.3"}
								%span
									%b 6.4.3.
									Відділ Хвощеподібні
							%li.chapter{"data-level" => "6.4.4"}
								%span
									%b 6.4.4.
									Відділ Папоротеподібні
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Різноманітність рослин: насінні рослини
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Відділ Голонасінні
						%ul.articles
							%li.chapter{"data-level" => "7.1.1"}
								%span
									%b 7.1.1.
									Загальна характеристика Голонасінних
							%li.chapter{"data-level" => "7.1.2"}
								%span
									%b 7.1.2.
									Життєвий цикл Голонасінних
							%li.chapter{"data-level" => "7.1.3"}
								%span
									%b 7.1.3.
									Різноманітність Голонасінних
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Клас Хвойні
						%ul.articles
							%li.chapter{"data-level" => "7.2.1"}
								%span
									%b 7.2.1.
									Загальна характеристика класу Хвойні
							%li.chapter{"data-level" => "7.2.2"}
								%span
									%b 7.2.2.
									Різноманітність Хвойних
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							Відділ Покритонасінні
						%ul.articles
							%li.chapter{"data-level" => "7.3.1"}
								%span
									%b 7.3.1.
									Загальна характеристика класу Покритонасінні
							%li.chapter{"data-level" => "7.3.2"}
								%span
									%b 7.3.2.
									Життєвий цикл Покритонасінних
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Клас Дводольні
					%li.chapter{"data-level" => "7.5"}
						%span
							%b 7.5.
							Клас Однодольні
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Гриби та лишайники
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Гриби
						%ul.articles
							%li.chapter{"data-level" => "8.1.1"}
								%span
									%b 8.1.1.
									Загальна характеристика грибів
							%li.chapter{"data-level" => "8.1.2"}
								%span
									%b 8.1.2.
									Цвілеві гриби
							%li.chapter{"data-level" => "8.1.3"}
								%span
									%b 8.1.3.
									Шапкові гриби
							%li.chapter{"data-level" => "8.1.4"}
								%span
									%b 8.1.4.
									Гриби-паразити
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Лишайники
						%ul.articles
							%li.chapter{"data-level" => "8.2.1"}
								%span
									%b 8.2.1.
									Загальна характеристика лишайників


= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'