- @title = 'Англійська мова: Морфологія'

%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/eng.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Англійська мова: Морфологія
				%p
					Починайте вивчення англійської з найголовнішого – частин мови.  Від артиклів до складних конструкцій та модальних дієслів. Також у цій інтерактивній книзі ми з вами розкриємо всі особливості морфології в англійській мові.

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 100
					.td 50
					.td 100
					.td 16%

			.actions
				%a.button.button--big{:href => "//english.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "vstup.html"}
				%a{:href => "http://english.ed-era.com/vstup.html"}
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "1/artikl.html"}
				%a{:href => "http://english.ed-era.com/1/artikl.html"}
					%b 2.
					Артиклі
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "1/neoznachenii_artikl_aan.html"}
						%a{:href => "http://english.ed-era.com/1/neoznachenii_artikl_aan.html"}
							%b 2.1.
							Неозначений артикль «a/an»
						%ul.articles
							%li.chapter{"data-level" => "2.1.1", "data-path" => "1/vzhivannya_neoznachenogo_artiklya.html"}
								%a{:href => "http://english.ed-era.com/1/vzhivannya_neoznachenogo_artiklya.html"}
									%b 2.1.1.
									Вживання неозначеного артикля
					%li.chapter{"data-level" => "2.2", "data-path" => "1/oznachenii_artikl_the.html"}
						%a{:href => "http://english.ed-era.com/1/oznachenii_artikl_the.html"}
							%b 2.2.
							Означений артикль «the»
					%li.chapter{"data-level" => "2.3", "data-path" => "1/nulovii_artikl_zero_article.html"}
						%a{:href => "http://english.ed-era.com/1/nulovii_artikl_zero_article.html"}
							%b 2.3.
							Нульовий артикль «zero article»
					%li.chapter{"data-level" => "2.4", "data-path" => "1/okremi_vipadki_vzhivannya_artikliv.html"}
						%a{:href => "http://english.ed-era.com/1/okremi_vipadki_vzhivannya_artikliv.html"}
							%b 2.4.
							Окремi випадки вживання артиклiв
			%li.chapter{"data-level" => "3"}
				%span
					%b 3.
					Займенник
				%ul.articles
					%li.chapter{"data-level" => "3.1"}
						%span
							%b 3.1.
							Особовi займенники
					%li.chapter{"data-level" => "3.2"}
						%span
							%b 3.2.
							Присвiйнi займенники
					%li.chapter{"data-level" => "3.3"}
						%span
							%b 3.3.
							Зворотнi займенники
					%li.chapter{"data-level" => "3.4"}
						%span
							%b 3.4.
							Вказiвнi займенники
					%li.chapter{"data-level" => "3.5"}
						%span
							%b 3.5.
							Питальнi займенники
					%li.chapter{"data-level" => "3.6"}
						%span
							%b 3.6.
							Сполучнi займенники
					%li.chapter{"data-level" => "3.7"}
						%span
							%b 3.7.
							Неозначенi займенники
					%li.chapter{"data-level" => "3.8"}
						%span
							%b 3.8.
							Взаємнi займенники
					%li.chapter{"data-level" => "3.9"}
						%span
							%b 3.9.
							Заперечнi займенники
					%li.chapter{"data-level" => "3.10"}
						%span
							%b 3.10.
							Означальнi займенники
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Iменник
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Злiчуванi та незлiчуванi iменники
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Множина
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Кiлькiсть
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Складнi iменники
					%li.chapter{"data-level" => "4.5"}
						%span
							%b 4.5.
							Пpисвiйний вiдмiнок
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Прикментик
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Загальні відомості
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Типи прикметникiв
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Порядок прикметникiв у реченнi
					%li.chapter{"data-level" => "5.4"}
						%span
							%b 5.4.
							Ступенi порiвняння
						%ul.articles
							%li.chapter{"data-level" => "5.4.1"}
								%span
									%b 5.4.1.
									Односкладовi прикметники
							%li.chapter{"data-level" => "5.4.2"}
								%span
									%b 5.4.2.
									Двоскладовi прикметники на –y, -e, -ow, -er
							%li.chapter{"data-level" => "5.4.3"}
								%span
									%b 5.4.3.
									Двоскладовi та багатоскладовi прикметники
					%li.chapter{"data-level" => "5.5"}
						%span
							%b 5.5.
							Порiвняння прикметникiв
						%ul.articles
							%li.chapter{"data-level" => "5.5.1"}
								%span
									%b 5.5.1.
									Like / as
							%li.chapter{"data-level" => "5.5.2"}
								%span
									%b 5.5.2.
									Схожi прикметники
							%li.chapter{"data-level" => "5.5.3"}
								%span
									%b 5.5.3.
									Деякi незвичнi та яскравi порiвняння
					%li.chapter{"data-level" => "5.6"}
						%span
							%b 5.6.
							Прикметники на -ing та -ed
					%li.chapter{"data-level" => "5.7"}
						%span
							%b 5.7.
							(A) Few/(A) Little
					%li.chapter{"data-level" => "5.8"}
						%span
							%b 5.8.
							Such/So
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Прислiвник
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Загальні відомості
						%ul.articles
							%li.chapter{"data-level" => "6.1.1"}
								%span
									%b 6.1.1.
									Позицiя прислiвника
							%li.chapter{"data-level" => "6.1.2"}
								%span
									%b 6.1.2.
									Типи прислiвникiв
							%li.chapter{"data-level" => "6.1.3"}
								%span
									%b 6.1.3.
									Типи прислiвникiв за значенням
							%li.chapter{"data-level" => "6.1.4"}
								%span
									%b 6.1.4.
									Форми прислiвника
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Cтупенi порiвняння прислiвникiв
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							Неправильнi прислiвники
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Практичне вживання та мiсце в реченнi прислiвникiв
					%li.chapter{"data-level" => "6.5"}
						%span
							%b 6.5.
							Рiзниця мiж вживаннями прислiвникiв та прикметникiв
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Числiвник
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Числiвник
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Дроби
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							Вживання нуля
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Дати
					%li.chapter{"data-level" => "7.5"}
						%span
							%b 7.5.
							Арифметичні підрахунки
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Прийменник та cполучник
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Прийменник
						%ul.articles
							%li.chapter{"data-level" => "8.1.1"}
								%span
									%b 8.1.1.
									Tипи прийменникiв в англiйськiй мовi
							%li.chapter{"data-level" => "8.1.2"}
								%span
									%b 8.1.2.
									Позицiя та вживання in, at та on
							%li.chapter{"data-level" => "8.1.3"}
								%span
									%b 8.1.3.
									Прийменники часу
							%li.chapter{"data-level" => "8.1.4"}
								%span
									%b 8.1.4.
									Вживання прийменникiв (та сполучникiв) часу
							%li.chapter{"data-level" => "8.1.5"}
								%span
									%b 8.1.5.
									Прийменники з рiзними частинами мови
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Сполучник
						%ul.articles
							%li.chapter{"data-level" => "8.2.1"}
								%span
									%b 8.2.1.
									Типи сполучникiв
							%li.chapter{"data-level" => "8.2.2"}
								%span
									%b 8.2.2.
									Пiдряднi сполучники
					%li.chapter{"data-level" => "8.3"}
						%span
							%b 8.3.
							Слова-зв’язки
			%li.chapter{"data-level" => "9"}
				%span
					%b 9.
					Дiєслово
				%ul.articles
					%li.chapter{"data-level" => "9.1"}
						%span
							%b 9.1.
							Основнi дiєслова
					%li.chapter{"data-level" => "9.2"}
						%span
							%b 9.2.
							Часи, з якими вживаються форми основних дiєслiв
					%li.chapter{"data-level" => "9.3"}
						%span
							%b 9.3.
							Форми дiєслова та його функцiї
			%li.chapter{"data-level" => "10"}
				%span
					%b 10.
					Модальнi дiєслова
				%ul.articles
					%li.chapter{"data-level" => "10.1"}
						%span
							%b 10.1.
							Can (be able to)
					%li.chapter{"data-level" => "10.2"}
						%span
							%b 10.2.
							May
					%li.chapter{"data-level" => "10.3"}
						%span
							%b 10.3.
							Might
					%li.chapter{"data-level" => "10.4"}
						%span
							%b 10.4.
							Must
					%li.chapter{"data-level" => "10.5"}
						%span
							%b 10.5.
							Have to
					%li.chapter{"data-level" => "10.6"}
						%span
							%b 10.6.
							Should, ought to
					%li.chapter{"data-level" => "10.7"}
						%span
							%b 10.7.
							Need
					%li.chapter{"data-level" => "10.8"}
						%span
							%b 10.8.
							Shall
					%li.chapter{"data-level" => "10.9"}
						%span
							%b 10.9.
							Will, would
					%li.chapter{"data-level" => "10.10"}
						%span
							%b 10.10.
							Dare
					%li.chapter{"data-level" => "10.11"}
						%span
							%b 10.11.
							Be + to
			%li.chapter{"data-level" => "11"}
				%span
					%b 11.
					Iнфiнiтив
				%ul.articles
					%li.chapter{"data-level" => "11.1"}
						%span
							%b 11.1.
							Iнфiнiтив
						%ul.articles
							%li.chapter{"data-level" => "11.1.1"}
								%span
									%b 11.1.1.
									Дiєслова
					%li.chapter{"data-level" => "11.2"}
						%span
							%b 11.2.
							Форми iнфiнiтиву
						%ul.articles
							%li.chapter{"data-level" => "11.2.1"}
								%span
									%b 11.2.1.
									Перехiднi дiєслова
							%li.chapter{"data-level" => "11.2.2"}
								%span
									%b 11.2.2.
									Неперехiднi дiєслова
					%li.chapter{"data-level" => "11.3"}
						%span
							%b 11.3.
							Функцiї iнфiнiтива в реченнi
					%li.chapter{"data-level" => "11.4"}
						%span
							%b 11.4.
							Вживання iнфiнiтиву
						%ul.articles
							%li.chapter{"data-level" => "11.4.1"}
								%span
									%b 11.4.1.
									Iнфiнiтив з дiєсловами
							%li.chapter{"data-level" => "11.4.2"}
								%span
									%b 11.4.2.
									Iнфiнiтив з прикметниками
							%li.chapter{"data-level" => "11.4.3"}
								%span
									%b 11.4.3.
									Iнфiнiтив без частки "to"
					%li.chapter{"data-level" => "11.5"}
						%span
							%b 11.5.
							Iнфiнiтивнi конструкцiї
						%ul.articles
							%li.chapter{"data-level" => "11.5.1"}
								%span
									%b 11.5.1.
									Об’єктивна
							%li.chapter{"data-level" => "11.5.2"}
								%span
									%b 11.5.2.
									Суб’єктивна
							%li.chapter{"data-level" => "11.5.3"}
								%span
									%b 11.5.3.
									Конструкцiя з for
			%li.chapter{"data-level" => "12"}
				%span
					%b 12.
					Герундiй
				%ul.articles
					%li.chapter{"data-level" => "12.1"}
						%span
							%b 12.1.
							Загальні відомості
						%ul.articles
							%li.chapter{"data-level" => "12.1.1"}
								%span
									%b 12.1.1.
									Форми герундiя
							%li.chapter{"data-level" => "12.1.2"}
								%span
									%b 12.1.2.
									Будова герундiя
							%li.chapter{"data-level" => "12.1.3"}
								%span
									%b 12.1.3.
									Вживання та значення форм герундiя
					%li.chapter{"data-level" => "12.2"}
						%span
							%b 12.2.
							Функцiї герундiя у реченнi
					%li.chapter{"data-level" => "12.3"}
						%span
							%b 12.3.
							Вживання герундiя
			%li.chapter{"data-level" => "13"}
				%span
					%b 13.
					Дiєприкметник
				%ul.articles
					%li.chapter{"data-level" => "13.1"}
						%span
							%b 13.1.
							Загальні відомості
					%li.chapter{"data-level" => "13.2"}
						%span
							%b 13.2.
							Participle I
						%ul.articles
							%li.chapter{"data-level" => "13.2.1"}
								%span
									%b 13.2.1.
									Будова Participle I
							%li.chapter{"data-level" => "13.2.2"}
								%span
									%b 13.2.2.
									Функцiї у реченнi
					%li.chapter{"data-level" => "13.3"}
						%span
							%b 13.3.
							Participle II
						%ul.articles
							%li.chapter{"data-level" => "13.3.1"}
								%span
									%b 13.3.1.
									Функцiї у реченнi
					%li.chapter{"data-level" => "13.4"}
						%span
							%b 13.4.
							Конструкцiї з Participle
						%ul.articles
							%li.chapter{"data-level" => "13.4.1"}
								%span
									%b 13.4.1.
									Об’єктивна конструкцiя
							%li.chapter{"data-level" => "13.4.2"}
								%span
									%b 13.4.2.
									Суб’єктивна конструкцiя
							%li.chapter{"data-level" => "13.4.3"}
								%span
									%b 13.4.3.
									Абсолютна конструкцiя

= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'