- @title = 'Географія: Загальна географія'

%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/geo.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Географія: Загальна географія
				%p
					У цьому інтерактивному підручнику ми будемо вивчати «Загальну географію» та відкривати для себе базові, але ж неймовірно корисні географічні знання. Навчайтесь із задоволенням!

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 120
					.td 35
					.td 80
					.td 12%

			.actions
				%a.button.button--big{:href => "//geography.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "vstup.html"}
				%a{:href => "http://geography.ed-era.com/vstup.html"}
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "1/geografichne_piznannya_zemli.html"}
				%a{:href => "http://geography.ed-era.com/1/geografichne_piznannya_zemli.html"}
					%b 2.
					Географiчне пiзнання Землi
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "1/ctarodavnya_epoha_pznannya_zeml.html"}
						%a{:href => "http://geography.ed-era.com/1/ctarodavnya_epoha_pznannya_zeml.html"}
							%b 2.1.
							Cтародавня епоха пізнання Землі
					%li.chapter{"data-level" => "2.2", "data-path" => "1/pznannya_zeml_u_seredn_vki.html"}
						%a{:href => "http://geography.ed-era.com/1/pznannya_zeml_u_seredn_vki.html"}
							%b 2.2.
							Пізнання землі у середні віки
					%li.chapter{"data-level" => "2.3", "data-path" => "1/epoha_velikih_geografchnih_vdkrittv.html"}
						%a{:href => "http://geography.ed-era.com/1/epoha_velikih_geografchnih_vdkrittv.html"}
							%b 2.3.
							Епоха Великих географічних відкриттів
					%li.chapter{"data-level" => "2.4", "data-path" => "1/novichas.html"}
						%a{:href => "http://geography.ed-era.com/1/novichas.html"}
							%b 2.4.
							Географiя нового часу
					%li.chapter{"data-level" => "2.5", "data-path" => "1/osvoe.html"}
						%a{:href => "http://geography.ed-era.com/1/osvoe.html"}
							%b 2.5.
							Освоєння полярних широт
					%li.chapter{"data-level" => "2.6"}
						%span
							%b 2.6.
							Мiжнароднi дослiдження земної кулi
					%li.chapter{"data-level" => "2.7"}
						%span
							%b 2.7.
							Географiчнi дослiдження на територiї України
			%li.chapter{"data-level" => "3"}
				%span
					%b 3.
					Земля на планi та картi
				%ul.articles
					%li.chapter{"data-level" => "3.1"}
						%span
							%b 3.1.
							Географiя як наука
						%ul.articles
							%li.chapter{"data-level" => "3.1.1"}
								%span
									%b 3.1.1.
									Земля з повiтря
							%li.chapter{"data-level" => "3.1.2"}
								%span
									%b 3.1.2.
									Масштаб
							%li.chapter{"data-level" => "3.1.3"}
								%span
									%b 3.1.3.
									Глобус
							%li.chapter{"data-level" => "3.1.4"}
								%span
									%b 3.1.4.
									Карта
							%li.chapter{"data-level" => "3.1.5"}
								%span
									%b 3.1.5.
									Картографiчна проекцiя
							%li.chapter{"data-level" => "3.1.6"}
								%span
									%b 3.1.6.
									Умовнi знаки
							%li.chapter{"data-level" => "3.1.7"}
								%span
									%b 3.1.7.
									План
							%li.chapter{"data-level" => "3.1.8"}
								%span
									%b 3.1.8.
									Орієнтування на місцевості
					%li.chapter{"data-level" => "3.2"}
						%span
							%b 3.2.
							Зображення нерівностей земної поверхні на плані та карті
					%li.chapter{"data-level" => "3.3"}
						%span
							%b 3.3.
							Градусна сітка Землі. Географічні координати точок
					%li.chapter{"data-level" => "3.4"}
						%span
							%b 3.4.
							Топографічна карта
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Наука географiя
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Географiя як наука
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Геологiчний час
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Рух Землi у космосi
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Часовi пояси
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Лiтосфера
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Внутрiшня будова Землi
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Гiрськi породи та мiнерали
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Розмiри Землi
					%li.chapter{"data-level" => "5.4"}
						%span
							%b 5.4.
							Утворення материкiв та океанiв
					%li.chapter{"data-level" => "5.5"}
						%span
							%b 5.5.
							Лiтосфера та лiтосфернi плити
					%li.chapter{"data-level" => "5.6"}
						%span
							%b 5.6.
							Рухи земної кори
					%li.chapter{"data-level" => "5.7"}
						%span
							%b 5.7.
							Вплив внутрiшнiх сил Землi
					%li.chapter{"data-level" => "5.8"}
						%span
							%b 5.8.
							Вплив зовнiшнiх сил Землi
					%li.chapter{"data-level" => "5.9"}
						%span
							%b 5.9.
							Основнi форми рельєфу Землi
					%li.chapter{"data-level" => "5.10"}
						%span
							%b 5.10.
							Рельєф дна Свiтового океану
					%li.chapter{"data-level" => "5.11"}
						%span
							%b 5.11.
							Додаток. Основнi гори свiту
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Гiдросфера
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Гiдросфера, її склад i будова
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Свiтовий колообiг води
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							Свiтовий океан та його частини
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Частини суходолу
					%li.chapter{"data-level" => "6.5"}
						%span
							%b 6.5.
							Воднi маси
						%ul.articles
							%li.chapter{"data-level" => "6.5.1"}
								%span
									%b 6.5.1.
									Додаток 1. Найбiльшi глибина океанiв
					%li.chapter{"data-level" => "6.6"}
						%span
							%b 6.6.
							Рух води в океанi
					%li.chapter{"data-level" => "6.7"}
						%span
							%b 6.7.
							Води суходолу
						%ul.articles
							%li.chapter{"data-level" => "6.7.1"}
								%span
									%b 6.7.1.
									Додаток 2. Рiчки
					%li.chapter{"data-level" => "6.8"}
						%span
							%b 6.8.
							Озера
						%ul.articles
							%li.chapter{"data-level" => "6.8.1"}
								%span
									%b 6.8.1.
									Додаток 3. Озера
					%li.chapter{"data-level" => "6.9"}
						%span
							%b 6.9.
							Болота та штучнi водойми
					%li.chapter{"data-level" => "6.10"}
						%span
							%b 6.10.
							Льодовики та багаторiчна мерзлота
					%li.chapter{"data-level" => "6.11"}
						%span
							%b 6.11.
							Пiдземнi води
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Атмосфера
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Атмосфера, її склад i будова
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Тепловi пояси Землi
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							Пояси атмосферного тиску на Землi
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Вiтер, постiйнi та змiннi вiтри
					%li.chapter{"data-level" => "7.5"}
						%span
							%b 7.5.
							Хмари i туман
						%ul.articles
							%li.chapter{"data-level" => "7.5.1"}
								%span
									%b 7.5.1.
									Види хмар
					%li.chapter{"data-level" => "7.6"}
						%span
							%b 7.6.
							Повiтрянi маси,циклони та антициклони
					%li.chapter{"data-level" => "7.7"}
						%span
							%b 7.7.
							Види опадiв i закономiрностi їхнього розподiлу
					%li.chapter{"data-level" => "7.8"}
						%span
							%b 7.8.
							Погода, її елементи, типи, змiна в часi
					%li.chapter{"data-level" => "7.9"}
						%span
							%b 7.9.
							Клiмат Землi, чинники його формування, пояси i основнi типи
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Бiосфера
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Бiосфера та її складовi
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Вплив господарської дiяльностi людини на бiосферу
					%li.chapter{"data-level" => "8.3"}
						%span
							%b 8.3.
							Ґрунти
					%li.chapter{"data-level" => "8.4"}
						%span
							%b 8.4.
							Географiчна оболонка, закономiрностi її формування i розвитку
					%li.chapter{"data-level" => "8.5"}
						%span
							%b 8.5.
							Зональнi та азональнi природнi комплекси
			%li.chapter{"data-level" => "9"}
				%span
					%b 9.
					Змiни природи пiд впливом господарської     дiяльностi людини
				%ul.articles
					%li.chapter{"data-level" => "9.1"}
						%span
							%b 9.1.
							Господарська дiяльнiсть людини
					%li.chapter{"data-level" => "9.2"}
						%span
							%b 9.2.
							Змiни компонентiв природи людиною
					%li.chapter{"data-level" => "9.3"}
						%span
							%b 9.3.
							Природнi ресурси материкiв та океанiв
			%li.chapter{"data-level" => "10"}
				%span
					%b 10.
					Вирiшення географiчних задач
				%ul.articles
					%li.chapter{"data-level" => "10.1"}
						%span
							%b 10.1.
							Сонце
					%li.chapter{"data-level" => "10.2"}
						%span
							%b 10.2.
							Амплiтуда коливань температури
					%li.chapter{"data-level" => "10.3"}
						%span
							%b 10.3.
							Зволоження територiї
					%li.chapter{"data-level" => "10.4"}
						%span
							%b 10.4.
							Ресурсозабезпеченiсть
					%li.chapter{"data-level" => "10.5"}
						%span
							%b 10.5.
							Рiчки
					%li.chapter{"data-level" => "10.6"}
						%span
							%b 10.6.
							Населення
					%li.chapter{"data-level" => "10.7"}
						%span
							%b 10.7.
							Тиск
					%li.chapter{"data-level" => "10.8"}
						%span
							%b 10.8.
							Пам’ятка

= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'