- @title = 'Історія України: зародження української нації'

%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/hist.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Історія України: зародження української нації
				%p
					Вирушайте у захопливу подорож минулим: від появи перших людей на території сучасної України до утворення Речі Посполитої, могутньої сили у Східній Європі. Діяльність князів та королів, війни та битви, а також соціальні процеси – все це стане відомим та зрозумілим.

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 115
					.td 40
					.td 100
					.td 16%

			.actions
				%a.button.button--big{:href => "//history.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "vstup.html"}
				%a{:href => "http://history.ed-era.com/vstup.html"}
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "1/poyava_ta_poselennya_lyudei_na_teritor_ukrani.html"}
				%a{:href => "http://history.ed-era.com/1/poyava_ta_poselennya_lyudei_na_teritor_ukrani.html"}
					%b 2.
					Поява та поселення людей на території України
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "1/parostki_tsivlzats.html"}
						%a{:href => "http://history.ed-era.com/1/parostki_tsivlzats.html"}
							%b 2.1.
							Паростки цивілізації
					%li.chapter{"data-level" => "2.2", "data-path" => "1/kimmerits.html"}
						%a{:href => "http://history.ed-era.com/1/kimmerits.html"}
							%b 2.2.
							Кіммерійці
					%li.chapter{"data-level" => "2.3", "data-path" => "1/skfi.html"}
						%a{:href => "http://history.ed-era.com/1/skfi.html"}
							%b 2.3.
							Скіфи
					%li.chapter{"data-level" => "2.4", "data-path" => "1/sarmati.html"}
						%a{:href => "http://history.ed-era.com/1/sarmati.html"}
							%b 2.4.
							Сармати
					%li.chapter{"data-level" => "2.5", "data-path" => "1/pivnichne_prichornomorya_ta_krim_koloni-polisi.html"}
						%a{:href => "http://history.ed-era.com/1/pivnichne_prichornomorya_ta_krim_koloni-polisi.html"}
							%b 2.5.
							Пiвнiчне Причорномор’я та Крим (колонiї-полiси)
					%li.chapter{"data-level" => "2.6", "data-path" => "1/pradavn_slovyani.html"}
						%a{:href => "http://history.ed-era.com/1/pradavn_slovyani.html"}
							%b 2.6.
							Прадавні слов’яни
			%li.chapter{"data-level" => "3"}
				%span
					%b 3.
					Утворення Київської Русi
				%ul.articles
					%li.chapter{"data-level" => "3.1"}
						%span
							%b 3.1.
							Вступ
						%ul.articles
							%li.chapter{"data-level" => "3.1.1"}
								%span
									%b 3.1.1.
									Заснування Києва
							%li.chapter{"data-level" => "3.1.2"}
								%span
									%b 3.1.2.
									Першi правителi
							%li.chapter{"data-level" => "3.1.3"}
								%span
									%b 3.1.3.
									Аскольд та Дiр
					%li.chapter{"data-level" => "3.2"}
						%span
							%b 3.2.
							Олег (845-912)
					%li.chapter{"data-level" => "3.3"}
						%span
							%b 3.3.
							Iгор (бл. 879—945)
					%li.chapter{"data-level" => "3.4"}
						%span
							%b 3.4.
							Ольга (бл. 890-969)
					%li.chapter{"data-level" => "3.5"}
						%span
							%b 3.5.
							Святослав (934-972)
					%li.chapter{"data-level" => "3.6"}
						%span
							%b 3.6.
							Ярополк (956-980)
					%li.chapter{"data-level" => "3.7"}
						%span
							%b 3.7.
							Володимир (958-1015)
					%li.chapter{"data-level" => "3.8"}
						%span
							%b 3.8.
							Святополк (981-1019)
					%li.chapter{"data-level" => "3.9"}
						%span
							%b 3.9.
							Ярослав (981-1054)
					%li.chapter{"data-level" => "3.10"}
						%span
							%b 3.10.
							Мiждержавнi угоди
					%li.chapter{"data-level" => "3.11"}
						%span
							%b 3.11.
							Прийняття християнства
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Ярославичi та роздробленiсть. Володимир Мономах
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Триумвірат
						%ul.articles
							%li.chapter{"data-level" => "4.1.1"}
								%span
									%b 4.1.1.
									Битва на Альті. Київське повстання
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Володимир ІІ Мономах (1053-1125)
						%ul.articles
							%li.chapter{"data-level" => "4.2.1"}
								%span
									%b 4.2.1.
									Мстислав Великий (1076-1132)
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Роздробленість
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Генеалогічне дерево
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Галицько-Волинська держава
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Вступ
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Галицьке князівство
						%ul.articles
							%li.chapter{"data-level" => "5.2.1"}
								%span
									%b 5.2.1.
									Ярослав Володимирович Осмомисл (бл. 1130-1187)
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Волинське князівство
					%li.chapter{"data-level" => "5.4"}
						%span
							%b 5.4.
							Галицько-Волинське князівство
						%ul.articles
							%li.chapter{"data-level" => "5.4.1"}
								%span
									%b 5.4.1.
									Роман Мстиславович (бл. 1150-1205)
							%li.chapter{"data-level" => "5.4.2"}
								%span
									%b 5.4.2.
									11205-1238 роки
							%li.chapter{"data-level" => "5.4.3"}
								%span
									%b 5.4.3.
									Данило Галицький (1201-1264)
							%li.chapter{"data-level" => "5.4.4"}
								%span
									%b 5.4.4.
									Данилові нащадки (1264-1349)
					%li.chapter{"data-level" => "5.5"}
						%span
							%b 5.5.
							Підсумок
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Монголо-татарська навала
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Вступ
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Монгольська імперія
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							Золота орда
						%ul.articles
							%li.chapter{"data-level" => "6.3.1"}
								%span
									%b 6.3.1.
									Битва на Калці
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Монголо-татарське іго
					%li.chapter{"data-level" => "6.5"}
						%span
							%b 6.5.
							Висновки
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Господарське життя Русi. Верстви населення. "Руська правда"
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Політичний устрій
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Суспільство Русі
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							"Руська правда"
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Господарське життя та економіка Русі
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Між Руссю та Річчю
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Експансія Великого Князівства Литовського на руські землі
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Королівство Польське та землі Галицько-Волинського князівства
					%li.chapter{"data-level" => "8.3"}
						%span
							%b 8.3.
							Кревська унiя
					%li.chapter{"data-level" => "8.4"}
						%span
							%b 8.4.
							Утворення Кримського ханства
					%li.chapter{"data-level" => "8.5"}
						%span
							%b 8.5.
							Османська імперія
			%li.chapter{"data-level" => "9"}
				%span
					%b 9.
					Суспiльно-полiтичнi процеси першої половини XVII століття
				%ul.articles
					%li.chapter{"data-level" => "9.1"}
						%span
							%b 9.1.
							Рiч Посполита
					%li.chapter{"data-level" => "9.2"}
						%span
							%b 9.2.
							Люблiнська та Берестейська унiї
					%li.chapter{"data-level" => "9.3"}
						%span
							%b 9.3.
							Греко-католицька церква
					%li.chapter{"data-level" => "9.4"}
						%span
							%b 9.4.
							Соцiальнi прошарки Речi
					%li.chapter{"data-level" => "9.5"}
						%span
							%b 9.5.
							Поява козацтва
					%li.chapter{"data-level" => "9.6"}
						%span
							%b 9.6.
							"Золота доба"
					%li.chapter{"data-level" => "9.7"}
						%span
							%b 9.7.
							Поява заможного українства, формування нацiонально свiдомої iнтелiгенцiї

= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'