- @title = 'Математика: Арифметика, рівняння та нерівності'


%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/math.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Математика: Арифметика, рівняння та нерівності
				%p
					Алгебра – серйозна наука, але ми впевнені, що вона може бути цікавою та захопливою, а найголовніше – зрозумілою. З нашими відеодемонстраціями, вбудованими завданнями та докладними поясненнями, у вас не виникне проблем з опануванням початків математики. 

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 115
					.td 45
					.td 100
					.td 13%

			.actions
				%a.button.button--big{:href => "//maths.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "vstup.html"}
				%a{:href => "http://math.ed-era.com/vstup.html"}
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "1/chislovi_mnozhini.html"}
				%a{:href => "http://math.ed-era.com/1/chislovi_mnozhini.html"}
					%b 2.
					Арифметика
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "1/chislovi_mnozhini.html"}
						%a{:href => "http://math.ed-era.com/1/chislovi_mnozhini.html"}
							%b 2.1.
							Числовi множини
					%li.chapter{"data-level" => "2.2", "data-path" => "1/prosti_ta_skladeni_chisla.html"}
						%a{:href => "http://math.ed-era.com/1/prosti_ta_skladeni_chisla.html"}
							%b 2.2.
							Простi та складенi числа
					%li.chapter{"data-level" => "2.3", "data-path" => "1/oznaki_podilnosti_naturalnih_chisel.html"}
						%a{:href => "http://math.ed-era.com/1/oznaki_podilnosti_naturalnih_chisel.html"}
							%b 2.3.
							Ознаки подiльностi натуральних чисел
					%li.chapter{"data-level" => "2.4", "data-path" => "1/drobi_ta_di_nad_nimi.html"}
						%a{:href => "http://math.ed-era.com/1/drobi_ta_di_nad_nimi.html"}
							%b 2.4.
							Дроби та дiї над ними
					%li.chapter{"data-level" => "2.5", "data-path" => "1/modul_chisla.html"}
						%a{:href => "http://math.ed-era.com/1/modul_chisla.html"}
							%b 2.5.
							Модуль числа
			%li.chapter{"data-level" => "3", "data-path" => "2/proports.html"}
				%a{:href => "http://math.ed-era.com/2/proports.html"}
					%b 3.
					Пропорції та відсотки
				%ul.articles
					%li.chapter{"data-level" => "3.1", "data-path" => "2/proports.html"}
						%a{:href => "http://math.ed-era.com/2/proports.html"}
							%b 3.1.
							Пропорції
					%li.chapter{"data-level" => "3.2", "data-path" => "2/vdsotki.html"}
						%a{:href => "http://math.ed-era.com/2/vdsotki.html"}
							%b 3.2.
							Відсотки
					%li.chapter{"data-level" => "3.3", "data-path" => "2/rozvyazannya_zadach_na_spilnu_vikonanu_robotu_zadachi_na_produktivnist.html"}
						%a{:href => "http://math.ed-era.com/2/rozvyazannya_zadach_na_spilnu_vikonanu_robotu_zadachi_na_produktivnist.html"}
							%b 3.3.
							Розв’язання задач на спiльну виконану роботу (задачi на продуктивнiсть)
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Одночлени та многочлени
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Степiнь з цiлим показником
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Одночлен
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Многочлен
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Дiї над многочленами
					%li.chapter{"data-level" => "4.5"}
						%span
							%b 4.5.
							Формули скороченого множення
					%li.chapter{"data-level" => "4.6"}
						%span
							%b 4.6.
							Розкладання многочлена на множники
					%li.chapter{"data-level" => "4.7"}
						%span
							%b 4.7.
							Бiном Ньютона
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Корiнь та його властивостi
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Рацiональнi дроби
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Область визначення та область допустимих значень
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Квадратний корiнь та його основнi властивостi
					%li.chapter{"data-level" => "5.4"}
						%span
							%b 5.4.
							Корінь n-го степеня та його основні властивості
					%li.chapter{"data-level" => "5.5"}
						%span
							%b 5.5.
							Ірраціональні вирази
					%li.chapter{"data-level" => "5.6"}
						%span
							%b 5.6.
							Доповнюючий множник
					%li.chapter{"data-level" => "5.7"}
						%span
							%b 5.7.
							Звiльнення вiд iррацiональностi в знаменнику
					%li.chapter{"data-level" => "5.8"}
						%span
							%b 5.8.
							Спрощення виразiв
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Показниковi та логарифмiчнi тотожностi
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Показниковi тотожностi
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Логарифм
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							Логарифмiчнi тотожностi
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Методи розв’язання задач: логарифмування, потенцiювання
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Лiнiйнi та квадратнi рiвняння
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Рівняння та його корені
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Основні властивості рівнянь
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							Лiнiйнi рiвняння
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Квадратнi рiвняння
					%li.chapter{"data-level" => "7.5"}
						%span
							%b 7.5.
							Неповні квадратні рівняння
					%li.chapter{"data-level" => "7.6"}
						%span
							%b 7.6.
							Дискримiнант
					%li.chapter{"data-level" => "7.7"}
						%span
							%b 7.7.
							Факторизація
					%li.chapter{"data-level" => "7.8"}
						%span
							%b 7.8.
							Теорема Вiєта
					%li.chapter{"data-level" => "7.9"}
						%span
							%b 7.9.
							Бiквадратнi рiвняння
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Iншi види цiлих рiвнянь
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Теорема Безу
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Схема Горнера
					%li.chapter{"data-level" => "8.3"}
						%span
							%b 8.3.
							Цiлi рацiональнi рiвняння вищих степенів
					%li.chapter{"data-level" => "8.4"}
						%span
							%b 8.4.
							Метод підбору коренів
					%li.chapter{"data-level" => "8.5"}
						%span
							%b 8.5.
							Метод заміни змінної
					%li.chapter{"data-level" => "8.6"}
						%span
							%b 8.6.
							Рiвняння з модулями
					%li.chapter{"data-level" => "8.7"}
						%span
							%b 8.7.
							Метод інтервалів
					%li.chapter{"data-level" => "8.8"}
						%span
							%b 8.8.
							Лінійне рiвняння з параметрами
					%li.chapter{"data-level" => "8.9"}
						%span
							%b 8.9.
							Квадратне рівняння з параметрами
			%li.chapter{"data-level" => "9"}
				%span
					%b 9.
					Системи алгебраїчних рiвнянь
				%ul.articles
					%li.chapter{"data-level" => "9.1"}
						%span
							%b 9.1.
							Системи рівнянь з двома змінними
					%li.chapter{"data-level" => "9.2"}
						%span
							%b 9.2.
							Метод підстановки
					%li.chapter{"data-level" => "9.3"}
						%span
							%b 9.3.
							Метод алгебраїчного додавання
					%li.chapter{"data-level" => "9.4"}
						%span
							%b 9.4.
							Метод заміни змінної
			%li.chapter{"data-level" => "10"}
				%span
					%b 10.
					Цілі нерівності
				%ul.articles
					%li.chapter{"data-level" => "10.1"}
						%span
							%b 10.1.
							Загальні відомості про нерівності
					%li.chapter{"data-level" => "10.2"}
						%span
							%b 10.2.
							Основні властивості
					%li.chapter{"data-level" => "10.3"}
						%span
							%b 10.3.
							Лiнiйнi нерiвностi
					%li.chapter{"data-level" => "10.4"}
						%span
							%b 10.4.
							Система та сукупність нерівностей
					%li.chapter{"data-level" => "10.5"}
						%span
							%b 10.5.
							Нерiвностi з модулями
			%li.chapter{"data-level" => "11"}
				%span
					%b 11.
					Метод інтервалів
				%ul.articles
					%li.chapter{"data-level" => "11.1"}
						%span
							%b 11.1.
							Квадратні нерівності
					%li.chapter{"data-level" => "11.2"}
						%span
							%b 11.2.
							Метод інтервалів
					%li.chapter{"data-level" => "11.3"}
						%span
							%b 11.3.
							Дробовi рацiональнi нерiвності
					%li.chapter{"data-level" => "11.4"}
						%span
							%b 11.4.
							Види нерiвностей та вiдповiднi методи їх розв’язання
					%li.chapter{"data-level" => "11.5"}
						%span
							%b 11.5.
							Нерiвностi з параметрами
			%li.chapter{"data-level" => "12"}
				%span
					%b 12.
					Дробово-раціональні рівняння
				%ul.articles
					%li.chapter{"data-level" => "12.1"}
						%span
							%b 12.1.
							Дробовi рацiональнi рiвняння
					%li.chapter{"data-level" => "12.2"}
						%span
							%b 12.2.
							Замiни в дробових рацiональних рiвняннях
					%li.chapter{"data-level" => "12.3"}
						%span
							%b 12.3.
							Рацiональнi рiвняння з параметрами
					%li.chapter{"data-level" => "12.4"}
						%span
							%b 12.4.
							Задачi з використанням вищезазначених концепцiй
			%li.chapter{"data-level" => "13"}
				%span
					%b 13.
					Ірраціональні рівняння
				%ul.articles
					%li.chapter{"data-level" => "13.1"}
						%span
							%b 13.1.
							Методи розв’язання iррацiональних рiвнянь
					%li.chapter{"data-level" => "13.2"}
						%span
							%b 13.2.
							Вiдокремлення квадратного кореня
					%li.chapter{"data-level" => "13.3"}
						%span
							%b 13.3.
							Перетворення на систему рiвнянь
					%li.chapter{"data-level" => "13.4"}
						%span
							%b 13.4.
							Спряженiсть в iррацiональних рiвняннях
					%li.chapter{"data-level" => "13.5"}
						%span
							%b 13.5.
							Рiвняння з параметрами
					%li.chapter{"data-level" => "13.6"}
						%span
							%b 13.6.
							Системи рівнянь
			%li.chapter{"data-level" => "14"}
				%span
					%b 14.
					Ірраціональні нерівності
				%ul.articles
					%li.chapter{"data-level" => "14.1"}
						%span
							%b 14.1.
							Методологiя розв’язання в залежностi вiд парності/непарностi степеня кореня
					%li.chapter{"data-level" => "14.2"}
						%span
							%b 14.2.
							Метод iнтервалiв для iррацiональних нерiвностей
					%li.chapter{"data-level" => "14.3"}
						%span
							%b 14.3.
							Нерiвностi з параметрами
			%li.chapter{"data-level" => "15"}
				%span
					%b 15.
					Показникові рівняння
				%ul.articles
					%li.chapter{"data-level" => "15.1"}
						%span
							%b 15.1.
							Зведення до однiєї основи
					%li.chapter{"data-level" => "15.2"}
						%span
							%b 15.2.
							Винесення множника
					%li.chapter{"data-level" => "15.3"}
						%span
							%b 15.3.
							Рiвняння особливих видiв
					%li.chapter{"data-level" => "15.4"}
						%span
							%b 15.4.
							Використання властивостей функцiй (монотонностi)
					%li.chapter{"data-level" => "15.5"}
						%span
							%b 15.5.
							Показниково - степеневi рiвняння
					%li.chapter{"data-level" => "15.6"}
						%span
							%b 15.6.
							Рiвняння з параметрами
					%li.chapter{"data-level" => "15.7"}
						%span
							%b 15.7.
							Системи рівнянь
			%li.chapter{"data-level" => "16"}
				%span
					%b 16.
					Показникові нерівності
				%ul.articles
					%li.chapter{"data-level" => "16.1"}
						%span
							%b 16.1.
							Властивостi показникової функцiї та класифікація типiв задач
					%li.chapter{"data-level" => "16.2"}
						%span
							%b 16.2.
							Методи розв’язання окремих типiв задач
					%li.chapter{"data-level" => "16.3"}
						%span
							%b 16.3.
							Степенево - показниковi нерiвностi
			%li.chapter{"data-level" => "17"}
				%span
					%b 17.
					Логарифмічні рівняння
				%ul.articles
					%li.chapter{"data-level" => "17.1"}
						%span
							%b 17.1.
							Логарифмiчнi рiвняння
					%li.chapter{"data-level" => "17.2"}
						%span
							%b 17.2.
							Логарифмування та потенцiювання
					%li.chapter{"data-level" => "17.3"}
						%span
							%b 17.3.
							Використання логарифмiчних тотожностей для розв’язання окремих типiв задач
					%li.chapter{"data-level" => "17.4"}
						%span
							%b 17.4.
							Системи рівнянь
			%li.chapter{"data-level" => "18"}
				%span
					%b 18.
					Логарифмічні нерівності
				%ul.articles
					%li.chapter{"data-level" => "18.1"}
						%span
							%b 18.1.
							Використання властивостей логарифмiв для розв’язання рiзних типiв задач
					%li.chapter{"data-level" => "18.2"}
						%span
							%b 18.2.
							Замiна змiнної в логарифмiчних нерiвностях
					%li.chapter{"data-level" => "18.3"}
						%span
							%b 18.3.
							Показниково-логарифмiчнi нерiвностi
					%li.chapter{"data-level" => "18.4"}
						%span
							%b 18.4.
							Нерiвностi з параметрами
							
= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'