- @title = 'Фізика: Класична механіка'

%section.heading
	.container
		%h1
			%span.exo EdEra
			Books
			%small Сервіс інтерактивної освітньої літератури
		
%section.about_book
	.container
		.book__figure
			%img{:src => "/assets/images/books/phys.jpg", :alt => ""}/
		.book__caption
			%article
				%h2
					Фізика: Класична механіка
				%p
					Детальний і структурований опис явищ класичної механіки. Вивчайте разом з нами фундаментальні закони, які лягають в основу всіх інших розділів науки про природу та навколишній світ.

			.b-info
				.thead
					.td Сторінок
					.td Візуалізацій
					.td Запитань
					.td Наповнення
				.tbody
					.td 130
					.td 45
					.td 100
					.td 15%

			.actions
				%a.button.button--big{:href => "//physics.ed-era.com/", :target => "_blank"}
					Читати 
					%sup❐
				%a.button.button--big{:href => "", :target => "_blank"}
					Допомогти 
					%sup❐

%section.book-summary
	.container
		%ul.summary
			%li.chapter.active{"data-level" => "0", "data-path" => "index.html"}
				%h2
					Зміст
			%li.chapter{"data-level" => "1", "data-path" => "book/vstupne_slovo.html"}
				%a{:href => "http://physics.ed-era.com/book/vstupne_slovo.html"}
					%b 1.
					Вступне слово
			%li.chapter{"data-level" => "2", "data-path" => "book/chapter_1/1vstup.html"}
				%a{:href => "http://physics.ed-era.com/book/chapter_1/1vstup.html"}
					%b 2.
					Одновимірна кінематика
				%ul.articles
					%li.chapter{"data-level" => "2.1", "data-path" => "book/chapter_1/1vstup.html"}
						%a{:href => "http://physics.ed-era.com/book/chapter_1/1vstup.html"}
							%b 2.1.
							Вступ до кінематики
						%ul.articles
							%li.chapter{"data-level" => "2.1.1", "data-path" => "book/chapter_1/2mehanichnii_ruh.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/2mehanichnii_ruh.html"}
									%b 2.1.1.
									Механічний рух
							%li.chapter{"data-level" => "2.1.2", "data-path" => "book/chapter_1/3osnovni_ponyattya.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/3osnovni_ponyattya.html"}
									%b 2.1.2.
									Основні поняття
					%li.chapter{"data-level" => "2.2", "data-path" => "book/chapter_1/4shlyah_ta_shv.html"}
						%a{:href => "http://physics.ed-era.com/book/chapter_1/4shlyah_ta_shv.html"}
							%b 2.2.
							Рівномірний прямолінійний рух
						%ul.articles
							%li.chapter{"data-level" => "2.2.1", "data-path" => "book/chapter_1/4shlyah_ta_shv.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/4shlyah_ta_shv.html"}
									%b 2.2.1.
									Шлях та швидкість
							%li.chapter{"data-level" => "2.2.2", "data-path" => "book/chapter_1/5vidnosnist.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/5vidnosnist.html"}
									%b 2.2.2.
									Вiдноснiсть швидкостей та перемiщень
							%li.chapter{"data-level" => "2.2.3", "data-path" => "book/chapter_1/6proektsiya_vektora.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/6proektsiya_vektora.html"}
									%b 2.2.3.
									Проекцiя вектора
							%li.chapter{"data-level" => "2.2.4", "data-path" => "book/chapter_1/7rivnyannya_ruhu.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/7rivnyannya_ruhu.html"}
									%b 2.2.4.
									Рiвняння руху
							%li.chapter{"data-level" => "2.2.5", "data-path" => "book/chapter_1/8proektsiya.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/8proektsiya.html"}
									%b 2.2.5.
									Проекцiя швидкостi та перемiщення
							%li.chapter{"data-level" => "2.2.6", "data-path" => "book/chapter_1/9serednya_shvidkist.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_1/9serednya_shvidkist.html"}
									%b 2.2.6.
									Середня швидкiсть
					%li.chapter{"data-level" => "2.3", "data-path" => "book/chapter_2/1rivnopriskorenii_ruh.html"}
						%a{:href => "http://physics.ed-era.com/book/chapter_2/1rivnopriskorenii_ruh.html"}
							%b 2.3.
							Рiвноприскорений прямолiнiйний рух
						%ul.articles
							%li.chapter{"data-level" => "2.3.1", "data-path" => "book/chapter_2/2miteva_shvidkist.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_2/2miteva_shvidkist.html"}
									%b 2.3.1.
									Миттєва швидкiсть
							%li.chapter{"data-level" => "2.3.2", "data-path" => "book/chapter_2/3priskorennya.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_2/3priskorennya.html"}
									%b 2.3.2.
									Прискорення та гальмування
							%li.chapter{"data-level" => "2.3.3", "data-path" => "book/chapter_2/4rivnyannya.html"}
								%a{:href => "http://physics.ed-era.com/book/chapter_2/4rivnyannya.html"}
									%b 2.3.3.
									Рiвняння рiвноприскореного прямолiнiйного руху
					%li.chapter{"data-level" => "2.4", "data-path" => "book/chapter_2/5vertikalnii.html"}
						%a{:href => "http://physics.ed-era.com/book/chapter_2/5vertikalnii.html"}
							%b 2.4.
							Вертикальний рух пiд дiєю сили тяжiння
			%li.chapter{"data-level" => "3"}
				%span
					%b 3.
					Двовимірна кінематика
				%ul.articles
					%li.chapter{"data-level" => "3.1"}
						%span
							%b 3.1.
							Теорія двовимірного руху
						%ul.articles
							%li.chapter{"data-level" => "3.1.1"}
								%span
									%b 3.1.1.
									Характер двовимірного руху
							%li.chapter{"data-level" => "3.1.2"}
								%span
									%b 3.1.2.
									Проекції швидкості
					%li.chapter{"data-level" => "3.2"}
						%span
							%b 3.2.
							Практична частина
						%ul.articles
							%li.chapter{"data-level" => "3.2.1"}
								%span
									%b 3.2.1.
									Дальність польоту, максимальна висота, час падіння
							%li.chapter{"data-level" => "3.2.2"}
								%span
									%b 3.2.2.
									Тіло, що кинуте горизонтально
					%li.chapter{"data-level" => "3.3"}
						%span
							%b 3.3.
							Градуси та радіани
					%li.chapter{"data-level" => "3.4"}
						%span
							%b 3.4.
							Криволінійний рух
						%ul.articles
							%li.chapter{"data-level" => "3.4.1"}
								%span
									%b 3.4.1.
									Тангенціальне та доцентрове прискорення
							%li.chapter{"data-level" => "3.4.2"}
								%span
									%b 3.4.2.
									Загальна характеристика криволінійного руху
							%li.chapter{"data-level" => "3.4.3"}
								%span
									%b 3.4.3.
									Рівномірний рух по колу
							%li.chapter{"data-level" => "3.4.4"}
								%span
									%b 3.4.4.
									Виведення. Доцентрове прискорення (додатково)
							%li.chapter{"data-level" => "3.4.5"}
								%span
									%b 3.4.5.
									Важливі приклади
			%li.chapter{"data-level" => "4"}
				%span
					%b 4.
					Концепція сили
				%ul.articles
					%li.chapter{"data-level" => "4.1"}
						%span
							%b 4.1.
							Вступ у динаміку
					%li.chapter{"data-level" => "4.2"}
						%span
							%b 4.2.
							Інертність та маса
					%li.chapter{"data-level" => "4.3"}
						%span
							%b 4.3.
							Сила: рівнодійна сил
					%li.chapter{"data-level" => "4.4"}
						%span
							%b 4.4.
							Перший закон Ньютона
					%li.chapter{"data-level" => "4.5"}
						%span
							%b 4.5.
							Другий закон Ньютона та сила тяжіння
					%li.chapter{"data-level" => "4.6"}
						%span
							%b 4.6.
							Третій закон Ньютона
					%li.chapter{"data-level" => "4.7"}
						%span
							%b 4.7.
							Сила реакції опори та вага
					%li.chapter{"data-level" => "4.8"}
						%span
							%b 4.8.
							Приклади
						%ul.articles
							%li.chapter{"data-level" => "4.8.1"}
								%span
									%b 4.8.1.
									Рух у ліфті
							%li.chapter{"data-level" => "4.8.2"}
								%span
									%b 4.8.2.
									Система тіл, що з'єднанні ниткою
					%li.chapter{"data-level" => "4.9"}
						%span
							%b 4.9.
							Сила пружності та закон Гука
					%li.chapter{"data-level" => "4.10"}
						%span
							%b 4.10.
							Послідовне та паралельне з'єднання пружин
			%li.chapter{"data-level" => "5"}
				%span
					%b 5.
					Сила тертя
				%ul.articles
					%li.chapter{"data-level" => "5.1"}
						%span
							%b 5.1.
							Сила тертя спокою
					%li.chapter{"data-level" => "5.2"}
						%span
							%b 5.2.
							Сила тертя ковзання
						%ul.articles
							%li.chapter{"data-level" => "5.2.1"}
								%span
									%b 5.2.1.
									Тiло на вертикальнiй стiнцi
					%li.chapter{"data-level" => "5.3"}
						%span
							%b 5.3.
							Тiло на похилiй площинi
			%li.chapter{"data-level" => "6"}
				%span
					%b 6.
					Динамiка та статика
				%ul.articles
					%li.chapter{"data-level" => "6.1"}
						%span
							%b 6.1.
							Вступ до динамiки руху тiла по колу
					%li.chapter{"data-level" => "6.2"}
						%span
							%b 6.2.
							Сили, що створюють доцентрове прискорення
						%ul.articles
							%li.chapter{"data-level" => "6.2.1"}
								%span
									%b 6.2.1.
									Сила натягу нитки
							%li.chapter{"data-level" => "6.2.2"}
								%span
									%b 6.2.2.
									Сила тиску
							%li.chapter{"data-level" => "6.2.3"}
								%span
									%b 6.2.3.
									Сила тертя
					%li.chapter{"data-level" => "6.3"}
						%span
							%b 6.3.
							Статика та умови рiвноваги
						%ul.articles
							%li.chapter{"data-level" => "6.3.1"}
								%span
									%b 6.3.1.
									Перша умова рiвноваги
							%li.chapter{"data-level" => "6.3.2"}
								%span
									%b 6.3.2.
									Друга умова рiвоваги та момент сили
					%li.chapter{"data-level" => "6.4"}
						%span
							%b 6.4.
							Центр тяжiння та центр мас
					%li.chapter{"data-level" => "6.5"}
						%span
							%b 6.5.
							Стiйкiсть рiвноваги
			%li.chapter{"data-level" => "7"}
				%span
					%b 7.
					Iмпульс, робота, потужнiсть
				%ul.articles
					%li.chapter{"data-level" => "7.1"}
						%span
							%b 7.1.
							Механiчна робота
						%ul.articles
							%li.chapter{"data-level" => "7.1.1"}
								%span
									%b 7.1.1.
									Дiя постiйної сили
							%li.chapter{"data-level" => "7.1.2"}
								%span
									%b 7.1.2.
									Геометричний змiст роботи
							%li.chapter{"data-level" => "7.1.3"}
								%span
									%b 7.1.3.
									Робота сили тяжiння
							%li.chapter{"data-level" => "7.1.4"}
								%span
									%b 7.1.4.
									Робота сили пружностi
					%li.chapter{"data-level" => "7.2"}
						%span
							%b 7.2.
							Робота та енергiя
						%ul.articles
							%li.chapter{"data-level" => "7.2.1"}
								%span
									%b 7.2.1.
									Кiнетична енергiя
							%li.chapter{"data-level" => "7.2.2"}
								%span
									%b 7.2.2.
									Консервативнi та неконсервативнi сили
							%li.chapter{"data-level" => "7.2.3"}
								%span
									%b 7.2.3.
									Потенцiальна енергiя
							%li.chapter{"data-level" => "7.2.4"}
								%span
									%b 7.2.4.
									Закон збереження механiчної енергiї
					%li.chapter{"data-level" => "7.3"}
						%span
							%b 7.3.
							Потужнiсть та ККД
					%li.chapter{"data-level" => "7.4"}
						%span
							%b 7.4.
							Iмпульс
						%ul.articles
							%li.chapter{"data-level" => "7.4.1"}
								%span
									%b 7.4.1.
									Закон збереження iмпульсу
							%li.chapter{"data-level" => "7.4.2"}
								%span
									%b 7.4.2.
									Закон збереження механiчної енергiї
			%li.chapter{"data-level" => "8"}
				%span
					%b 8.
					Закон Всесвітнього тяжіння
				%ul.articles
					%li.chapter{"data-level" => "8.1"}
						%span
							%b 8.1.
							Застосування закону збереження та розгляд Закону Всесвiтнього тяжiння
					%li.chapter{"data-level" => "8.2"}
						%span
							%b 8.2.
							Супутники
					%li.chapter{"data-level" => "8.3"}
						%span
							%b 8.3.
							Перша та друга космiчнi швидкостi
			%li.chapter{"data-level" => "9"}
				%span
					%b 9.
					Механіка рідин та газів
				%ul.articles
					%li.chapter{"data-level" => "9.1"}
						%span
							%b 9.1.
							Тиск
					%li.chapter{"data-level" => "9.2"}
						%span
							%b 9.2.
							Атмосферний тиск
					%li.chapter{"data-level" => "9.3"}
						%span
							%b 9.3.
							Закон Паскаля
					%li.chapter{"data-level" => "9.4"}
						%span
							%b 9.4.
							Сполученi посудини
					%li.chapter{"data-level" => "9.5"}
						%span
							%b 9.5.
							Закон Архiмеда
					%li.chapter{"data-level" => "9.6"}
						%span
							%b 9.6.
							Закон Бернуллi
			%li.chapter{"data-level" => "10", "data-path" => "book/Add/trigonometry/trigonometry.html"}
				%a{:href => "http://physics.ed-era.com/book/Add/trigonometry/trigonometry.html"}
					%b 10.
					Додаток
				%ul.articles
					%li.chapter{"data-level" => "10.1", "data-path" => "book/Add/trigonometry/trigonometry.html"}
						%a{:href => "http://physics.ed-era.com/book/Add/trigonometry/trigonometry.html"}
							%b 10.1.
							Тригонометричні функції
					%li.chapter{"data-level" => "10.2", "data-path" => "book/Add/vector/vector1.html"}
						%a{:href => "http://physics.ed-era.com/book/Add/vector/vector1.html"}
							%b 10.2.
							Вектори
						%ul.articles
							%li.chapter{"data-level" => "10.2.1", "data-path" => "book/Add/vector/vector1.html"}
								%a{:href => "http://physics.ed-era.com/book/Add/vector/vector1.html"}
									%b 10.2.1.
									Поняття вектора
							%li.chapter{"data-level" => "10.2.2", "data-path" => "book/Add/vector/vector2.html"}
								%a{:href => "http://physics.ed-era.com/book/Add/vector/vector2.html"}
									%b 10.2.2.
									Рівність векторів
							%li.chapter{"data-level" => "10.2.3", "data-path" => "book/Add/vector/vector3.html"}
								%a{:href => "http://physics.ed-era.com/book/Add/vector/vector3.html"}
									%b 10.2.3.
									Координати векторів
							%li.chapter{"data-level" => "10.2.4", "data-path" => "book/Add/vector/vector4.html"}
								%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
									%b 10.2.4.
									Операції над векторами
								%ul.articles
									%li.chapter{"data-level" => "10.2.4.1", "data-path" => "book/Add/vector/vector4.html"}
										%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
											%b 10.2.4.1.
											Модуль ветора
									%li.chapter{"data-level" => "10.2.4.2", "data-path" => "book/Add/vector/vector4.html"}
										%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
											%b 10.2.4.2.
											Додавання веторів
									%li.chapter{"data-level" => "10.2.4.3", "data-path" => "book/Add/vector/vector4.html"}
										%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
											%b 10.2.4.3.
											Множення вектора на скаляр
									%li.chapter{"data-level" => "10.2.4.4", "data-path" => "book/Add/vector/vector4.html"}
										%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
											%b 10.2.4.4.
											Скалярний добуток векторів
									%li.chapter{"data-level" => "10.2.4.5", "data-path" => "book/Add/vector/vector4.html"}
										%a{:href => "http://physics.ed-era.com/book/Add/vector/vector4.html"}
											%b 10.2.4.5.
											Проекція та розкладання вектора на компоненти

= partial 'views/shared/book_like'

= partial 'views/shared/book_subscribe'