// 
// SITE NAVIGATION
// 
// 



.site_nav {
	display: inline-block;
	height: 60px;
	line-height: 60px;


	.site_header & {
		float: right;
	}	
}

.menu_links {
	display: block;
	margin: 0;
	padding: 0;
}

.menu_item {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-right: $half-spacing;

	&:last-of-type,
	&:last-child {
		margin-right: 0;
	}
}